klaytn_node_type:
klaytn_conf_default:
  NETWORK:
  NETWORK_ID: "{{ klaytn_network_id }}"
  PORT: "{{ klaytn_port }}"
  SERVER_TYPE: fasthttp
  SYNCMODE: full
  VERBOSITY: 3
  MAXCONNECTIONS: 100
  TXPOOL_EXEC_SLOTS_ALL: 16384
  TXPOOL_NONEXEC_SLOTS_ALL: 16384
  TXPOOL_EXEC_SLOTS_ACCOUNT: 16384
  TXPOOL_NONEXEC_SLOTS_ACCOUNT: 16384
  TXPOOL_LIFE_TIME: 5m
  RPC_ENABLE: 0
  RPC_API: klay
  RPC_PORT: 8551
  RPC_ADDR: 0.0.0.0
  RPC_CORSDOMAIN: "*"
  RPC_VHOSTS: "*"
  WS_ENABLE: 0
  WS_API: klay
  WS_ADDR: 0.0.0.0
  WS_PORT: 8552
  WS_ORIGINS: "*"
  AUTO_RESTART: 1
  METRICS: 1
  PROMETHEUS: 1
  DB_NO_PARALLEL_WRITE: 0
  MULTICHANNEL: 1
  SUBPORT: $((PORT + 1))
  NO_DISCOVER: 1
  BOOTNODES:
  AUTO_RESTART_NODE: 1
  AUTO_RESTART_INTERVAL: 0.1
  ADDITIONAL:
  DATA_DIR: "/var/{{ klaytn_daemon_name }}/data"
  LOG_DIR: "/var/{{ klaytn_daemon_name }}/log"
  SC_MAIN_BRIDGE_PORT: "{{ klaytn_main_bridge_port }}"
  SC_SUB_BRIDGE_PORT: "{{ klaytn_sub_bridge_port }}"
klaytn_conf_override:

klaytn_bridge_enabled: 0
klaytn_bridge_node_type:
klaytn_bridge_node_num:
