global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
- job_name: 'klaytn'
  static_configs:
  - targets:
{% for node in nodes.split(',')  %}
    - "{{ node }}:{{ klaytn_exporter_port}}"
{% endfor %}
